/* -------------------------------------------------------
		Reset
------------------------------------------------------- */


html, body, div, h1, h2, h3, h4, h5, h6, p{
 margin: 0;
 padding: 0; 
}

html{
max-width: 960px;
margin:2.083333%/*20px*/ auto;
/*background-color: red;*/
font: .8125em/1 verdana, arial, sans-serif;
}

#wrapper{
background-image: url('../images/wrapper.png'); 
margin: 0 auto;
width: 100%;
margin: 0.520833%/*5px*/;
padding: 0.520833%/*5px*/;
}

/*----- Header -----*/
header{
overflow: hidden;
width: 100%;
background-color:#F0EAD6;
/*margin: 0 0 2.083333% 0;*/
/*padding: 2.2em 0 0.95em 0;*/
}

#logo{
background-color:#F0EAD6;
}

/*----- Navigation -----*/

#nav ul{
/*margin:244px 2px 0;*/
/*height:100%;*/
overflow:hidden;
color:#8C001A;
background-color:#91614E;
border:#F0EAD6;
}

#nav ul li{
float: left;
margin: 4px;
text-transform:uppercase;
padding: 4px;
}

#nav ul li a{
text-decoration:none;
color:#F6FBFC;
display:block;
height:3.125%;/*30px*/
line-height:2.308em;
}

#nav ul li a:hover{ 
color:#8C001A;
}

#nav ul li a.active{
color:#8C001A;
}

/*--- Content ---*/

h1, h2, h3, h4, h5, h6, p{
text-align: left;
margin:1em;
margin-bottom:1em;
}

li{
list-style-type: none;
}

aside div{
width:200px;
margin:5px;
padding:5px;
background-color:#91614E;
border:#F0EAD6;
-moz-border-radius: 10px;
border-radius: 10px;
}

.main_action{
float: right;
}


.info{
clear: right;
float: left;
}

/*--- form ---*/

form input:focus, form select:focus, form textarea:focus{
background: #ffd;
}

form select{
width: 160px;
}

form select option{
padding: 0 6px 0 4px;
}


form input, form select, form textarea{
	width: 254px;
	padding: 2px;
	margin-bottom: 20px;
	background: #fefefe;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-family: Verdana, sans-serif;
	font-size: .9em;
}

form label{
display: block;
float: left;
padding: 5px;
}

/*input, select, textarea{ 
margin:0; 
padding:0;   
}*/

footer{
clear: both;
padding-bottom: 1.041667%; /*10px;*/
font-size: .9em;
text-align: center;
background-color:#F0EAD6;
}

/*----- Media Queries -----*/

/* Tablet Portrait size to standard 960 (device and browsers)*/
@media screen and (min-width:768px) and (max-width:959px){
	#wrapper{
	width: auto;
	margin: auto;
	/*background-image: none;*/
	/*background-color:red;*/
	}

	nav ul{
	width: 100%;
	}

	nav ul li{
	width: 50%;
	}


	h1, h2, h3, h4, p {
	font-weight: normal;
	text-align: left;
	}
}

/* Mobile Landscape size to Tablet Portrait (device and browsers)*/
@media only screen and (min-width:480px)and (max-width:767px){
#wrapper{
	width: auto;
	margin: auto;
	/*background-image: none;*/
	/*background-color:red;*/
	}
	
	nav ul{
	width: 100%;
	}

	nav ul li{
	width: 50%;
	}
	
	h1, h2, h3, h4, p {
	font-weight: normal;
	text-align: left;
	}
	
}

/* Mobile Portrait size to Mobile Landscape (device and browsers)*/
@media only screen and (max-width:479px){

	#wrapper{
	width: auto;
	margin: auto;
	/*background-image: none;*/
	/*background-color:#fff;*/
	}
	
	nav ul{
	width: 100%;
	/*margin: 0;*/
	background: none;
	}
	
	nav ul li{
	width: 50%;
	/*padding: 0;*/
	}
	
}
